body {
    margin: 0;
    padding: 0;

}

.navbar {
    background-color: #FDFDBD
}

header nav img {
    background-color: #fff;
    border-radius: 8px;
    width: 3%;

}

header .comp-details {
    color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;

}

header .comp-details h4 {
    font-weight: bold;
    color: #01125a;
}

header .comp-details h3 {
    font-weight: bold;
}




.blink {
    -webkit-animation: blink 6s infinite both;
    animation: blink 6s infinite both;
    color: red;
    font-weight: bold;
}

@-webkit-keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}


/* table  */

table {
    text-align: center;
}



table tr th {
    /* border: 2px solid rgb(255, 255, 255) !important; */
    font-size: 1.5rem;
    padding: 1.1px !important;
    background-color: rgb(255 217 237);
    border: none !important;
    color: rgb(0, 0, 66);
}

table tr td {
    /* border-radius: 5px; */
    font-size: 1.1rem;
    padding: 0.35rem !important;
    /* background-color: #C8FFD4;   */
    border: none !important;
}


table tr .name {

    font-weight: bold;
}


table tr .rank {
    color: rgb(18, 1, 145);
    font-weight: bold;
}

table tr .first4 {
    
}