.display_body {
    margin: 0;
    padding: 0;
    background-color: #111b63 !important;
    height: 100vh;

}


.display_header .navbar {
    background-color: #f01557;
    border-radius: 35px;
}

.display_header div img {
    background-color: #fff;
    border-radius: 8px;
    width: 3%;

}

.display_header .comp-details {
    color: rgb(255, 255, 255);
    width: 90%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around;

}

.display_header .comp-details h3 {
    font-weight: bold;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    
}




.comp-details .blink {
    -webkit-animation: blink 6s infinite both;
    animation: blink 6s infinite both;
    color: rgb(244 255 100);
    font-weight: bold;
}

@-webkit-keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}


/* table  */

.display_table{
    text-align: center;
    border-spacing: 20px 10px !important;
    background-color: white !important;
    width: 100% !important;
    margin: 0 auto;
    margin-bottom: 0 !important;


}

/* Table Header  */

.display_table tr th {

    font-size: 1.5rem;
    padding: 1.1px !important;
    border: none !important;
    color: rgb(255, 255, 255);
    background-color: #111b63 !important;

}

/* Table Data  */

.display_table tr td {

    font-size: 1.3rem;
    padding: 0.37rem !important;
    background-color: #ffffff;
    margin: 20px !important;
    vertical-align:middle;
}


.display_table tr .name {
    text-transform: uppercase;
    font-weight: bold;
    /* padding: 0 !important; */
    font-size: 1.3rem;
    color: #f01557;
}

.display_table tr .unit {
    font-size: 1rem;
    font-weight: bold;
    color: #590410;
}


.display_table tr .rank {
    color: #a3ffff;
    font-weight: bold;
    background-color: #f01557;
    font-size: 1.5rem;
    padding: 0 !important;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    border-bottom-left-radius: 40px;
}



.display_table tr .asana {
    font-weight: bold;
    background-color: #b8fdd4;
    background-color: #f7ffc7;
}


.display_table tr .et {
    color: #ffffff;
    font-weight: bold;
    background-color: rgb(3 141 11);
    font-size: 1.5rem;
    padding: 0 !important;
    text-shadow: 2px 2px 5px rgb(0 0 0);
}

.display_table tr .OtGt {
    color: rgb(0 0 0);
    font-weight: bold;
    background-color: rgb(114 113 113);
    color: white;
}

.display_table tbody tr {
    border-radius: 35px !important;
    border-bottom: 5px solid #111b63 !important;
    margin: 10px;
    border-radius: 50px !important;
}

/* footer  */
.display_footer {
    background-color: #f01557;
    text-align: center;
    color: #fff;
    border-radius: 35px;
    padding: 2px 0;
    /* min-height: calc(100vh - 95vh); */
    width: 100%;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 2;
}

.display_footer h4{
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.display_footer h4 .contact-no{
   color: #e7ff9d;
}

.display_footer .website{
    color: #71fffa;
}


.presentCandidateDetails{
    background-color: #77fdff !important;
    color: #2a07bc !important;
    
}

.presentCandidateRank{
    background-color: #2a07bc !important;
}

.presentCandidateAssanaMarks{
    background-color: rgb(241 255 102) !important;
}
.presentCandidateEt{
    background-color: #2a07bc !important;
}

.presentCandidateOtGt{
    background-color: #587272 !important;
}

.presentCandidateGt{
    border-top-right-radius: 40px;
}