body {
    margin: 0;
    padding: 0;
    background-color: #111b63 !important;

}

.navbar {
    background-color: #f01557;
    border-radius: 35px;
}

header nav img {
    background-color: #fff;
    border-radius: 8px;
    width: 3%;

}

header .comp-details {
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;

}

header .comp-details h4 {
    font-weight: bold;
    color: #01125a;
}

header .comp-details h3 {
    font-weight: bold;
}




.blink {
    -webkit-animation: blink 6s infinite both;
    animation: blink 6s infinite both;
    color:  rgb(244 255 100);
    font-weight: bold;
}

@-webkit-keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}


/* table  */

table {
    text-align: center;
    border-spacing: 20px 10px !important;
    background-color: white !important;
    width: 90% !important;
    margin: 0 auto;
    
}

/* Table Header  */

table tr th {
    
    font-size: 1.5rem;
    padding: 1.1px !important;
    border: none !important;
    color: rgb(255, 255, 255);
    background-color: #111b63 !important;

}

/* Table Data  */

table tr td {

    font-size: 1.1rem;
    padding: 0.37rem !important;
    background-color: #ffffff;  
    margin: 20px !important; 
}


table tr .name {
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 !important;
    font-size: 1.3rem;
}


table tr .rank {
    color:  #fffeb4eb;
    font-weight: bold;
    background-color:  #f01557;
    font-size: 1.5rem;
    padding: 0 !important;
    border-radius: 5px;
}

table tr .first4 {
    
}


table tr .et {
    color: rgb(2 8 116);
    font-weight: bold;
    background-color: #fbfa88eb;
    font-size: 1.5rem;
    padding: 0 !important;
    border-radius: 30px;
}

table tbody tr{
    border-radius: 35px !important;
    border-bottom: 5px solid #111b63 !important;
    margin: 10px;
    border-radius: 50px !important;
}